<phpunit
		bootstrap="tests/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="wp-approve-user">
			<directory prefix="test-" suffix=".php">.</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">./</directory>
		</include>
		<exclude>
			<directory>./tests</directory>
			<directory>./vendor</directory>
			<directory>./node_modules</directory>
		</exclude>
		<report>
			<clover outputFile="coverage.xml"/>
			<text outputFile="php://stdout" showOnlySummary="true"/>
		</report>
	</coverage>
</phpunit>
